AUTH_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX=" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_KEYCLOAK_ID=kanstick
AUTH_KEYCLOAK_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AUTH_KEYCLOAK_ISSUER=https://keycloak.com/realms/RealmName

NEXT_PUBLIC_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_KEYCLOAK_ID=kanstick
NEXT_PUBLIC_AUTH_KEYCLOAK_ISSUER=https://keycloak.com/realms/RealmName

DB_USER=kanstick
DB_HOST=localhost
DB_NAME=kanstick
DB_PASSWORD=kanstick
DB_PORT=5432

NEXT_PUBLIC_APP_URL=http://localhost:3000